html,body { 
	//font-family: sans-serif;
	//font-family: 'Play', sans-serif;
	font-family: 'Orbitron', sans-serif;
	height:95%;
	margin: 0;
	padding: 0;
	background-color: black;
}

h1 {
	font-weight: bold;
}

h3 {
	background-color: #222;
	border-radius: 10px;
	color: #fff;
	padding: 0.4em;
	//font-weight: normal;
}

textarea {
    resize: none;
	font-family: 'Play', sans-serif;
	background-color: #444;
	color: #ccc;
	border: 1px solid #333;
    outline: none;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
	supported by Chrome and Opera */
}


.anim_fadein{
	animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
	}
    to {
        opacity:1;
	}
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
	}
    to {
        opacity:1;
	}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
	}
    to {
        opacity:1;
	}
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
	}
    to {
        opacity: 1;
	}
}

/* Tooltip container */
.tt {
    position: relative;
    //display: inline-block;
    //border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tt .ttt {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
	border: 1px solid black;
	
	/* Position the tooltip text */
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	
	/* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.3s;
}

/* Tooltip arrow */
.tt .ttt::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tt:hover .ttt {
    visibility: visible;
    opacity: 1;
}

.main_panel{
	display:none;
	//overflow: auto; 
	//float:left;
	width:350px;
	height:100%;
	background-color: #555;
	border: 1px solid black;
	display: flex;
    justify-content: space-between;
	flex-direction:column;
}

.panel_selector{
	width:12%;
	//float:left;
	text-align:center;
	//margin:1em 0;
	line-height:2em;
	border:2px solid white;
	background-color:#000;
}

.panel_selector_hidden{
	color: #777 !important;
}

.panel_selector:hover{
	background-color:#222;
}

.horizontal_frames{
	display: flex;
	flex-direction:row;
	align-self: center;
	justify-content: center;
}

.vertical_frames{
	display: flex;
	flex-direction:column;
	align-self: center;
	justify-content: center;
}

.vertical_frames2{
	display: flex;
	flex-direction:column;
	height: 100%;
	//background-color: #fff;
	//align-self: center;
	justify-content: space-between !important;
}

.padding0{
	padding:0.2em;
	display: flex;
    justify-content: center;
}

.padding{
	padding:0.5em;
	display: flex;
    justify-content: center;
}
.padding2{
	padding:1em;
	display: flex;
    justify-content: center;
}

#d_header {
    padding: 0.5em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
	height:10%;
	vertical-align: middle;
}



#d_footer {
    //position: fixed;
    //left: 0;
    //bottom: 0;
    //width: 100%;
	padding: 0.5em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
	height:5%;
	//line-height:100%;
	//vertical-align: bottom;
}

#d_maincont {
	background-color: #959595;
	height:90%;
	//overflow: auto; 
	display: flex;
	flex-direction:row;
	justify-content: space-around;
}



#inv_table{
	border: 1px solid black;
	background-color: #666;
	//margin: 0 auto;
	align-self: center;
}
#inv_table th, #inv_table td {
	border: 1px solid black;
	width: 66px;
	height: 66px;
	background-color: #444;
}

table img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	//align-self: center;
}



.proc_slot{
	border: 3px solid black;
	width: 70px;
	height: 70px;
	background-color: #444;
	align-self: center;
	display: flex;
    justify-content: center;
	//align-items: center;
}

.proc_slot img{
	align-self: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.coder_slot_glow{
	border: 3px solid #00dd00 !important;
	transition: 1s linear;
}
.coder_slot_fade{
	border: 3px solid black !important;
	transition: 3s linear;
}



#coder_text{
	height: 400px;
	width: 200px;
	align-self: center;
	font-size: 18px;
}





button {
	background-color: #222;
	color: #ccc;
	border-radius: 28px;
	border: 3px solid black;
	outline: none;
	transition: .2s linear;
	display: flex;
	justify-content: center;
}

button:hover{
	background-color: #333;
}

.btn_on{
	background-color: #00dd00 !important;
	transition: 1s linear;
}

.btn_error{
	background-color: #500 !important;
	transition: 0.15s linear;
}

.engine_btn{
	width: 30px;
	//height: 30px;
}

#engine_purge{
	//visibility:hidden;
	display:none;
}

#esurf_table{
	border: 3px solid #222;
	background-color: #666;
	//margin: 0 auto;
	align-self: center;
	transition: 1s linear;
}
#esurf_table th, #esurf_table td {
	//border: 1px solid black;
	width: 33px;
	height: 33px;
	background-color: #111;
	position: relative;
}

.esurf_open{
	border: 3px dashed #222 !important;
}

#engine_spointer{
	transform: rotate(90deg) translateY(20px);
	z-index: +5;
	transition: transform .5s;
	position: absolute;
	top: 0%;
}

#engine_spointer path {
	fill: #000;
	transition: 1s linear;
}
.engine_spointer_on path {
	fill: #00dd00 !important;
}

#engine_storage {
	background-color: #111;
	width: 33px;
	height: 33px;
	border: 3px solid #353535;
	border-radius: 10px;
	display:flex;
	justify-content: center;
}

#emem_table{
	border: 0;
	background-color: #666;
	//margin: 0 auto;
	align-self: center;
	transition: 1s linear;
	text-align: center;
    color: #ccc;
}
#emem_table td {
	//border: 1px solid black;
	width: 55px;
	height: 20px;
	background-color: #224;
	transition=0.5s;
}
#emem_table th {
	border: 5px solid #000;
	width: 55px;
	height: 40px;
	background-color: #223838;
	transition=0.5s;
}
.emem_active{
	background-color: #22b !important;
}

#ecodebar_canvas{
	align-self: center;
	background-color: #002200;
	border: 3px solid #000;
	width: 30px;
	height: 350px;
}

.img_quanta {
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 32px;
	height: 32px;
	align-self: center;
	z-index: 0;
	//position: absolute;
}